@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  transition-delay: 99999s;
  animation-fill-mode: both;
  animation-name: onAutoFillStart !important;
}
