.main-auth {
  user-select: none;
  color: #fff;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: initial;
  font-variation-settings: 'opsz' 20;
  box-sizing: border-box;
}

.passwordEyeButton {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0);
}

.passwordEyeButton:hover,
.passwordEyeButton:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.button-text-lower {
  text-transform: unset !important;
}

.show-avatar-profile-photo {
  height: min(100vw - 38px, 288px);
  width: min(100vw - 38px, 288px);
}

.custom-tab-transition-color {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.CropAvatar-Stencil-preview {
  border: dashed 2px rgba(255, 255, 255, 1);
}

.CropAvatar-Stencil-handler {
  display: block;
  background: white;
  border-radius: 50%;
  height: 20px !important;
  width: 20px !important;
}

.CropAvatar-Stencil-line {
  border-color: rgba(255, 255, 255, 1) !important;
}
