.footer-gradient {
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(15, 15, 15, 1) 34%,
    rgba(15, 15, 15, 0.5186449579831933) 68%,
    rgba(0, 212, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(15, 15, 15, 1) 34%,
    rgba(15, 15, 15, 0.5186449579831933) 68%,
    rgba(0, 212, 255, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(15, 15, 15, 1) 34%,
    rgba(15, 15, 15, 0.5186449579831933) 68%,
    rgba(0, 212, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}

.fixed-top {
  position: -webkit-fixed;
  position: fixed;
  top: 0; /* required */
}

.fixed-bottom {
  position: -webkit-fixed;
  position: fixed;
  bottom: 0; /* required */
}

.main-auth {
  user-select: none;
  color: #fff;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: initial;
  font-variation-settings: 'opsz' 20;
  box-sizing: border-box;
}

.passwordEyeButton {
  color: #ffffff80;
  background-color: #ffffff00;
}

.passwordEyeButton:hover,
.passwordEyeButton:active {
  background-color: #ffffff1a;
}

.button-text-lower {
  text-transform: unset !important;
}

.show-avatar-profile-photo {
  height: min(100vw - 38px, 288px);
  width: min(100vw - 38px, 288px);
}

.custom-tab-transition-color {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* .CropAvatar-Stencil-preview {
  border: dashed 2px #ffffff1a;
} */

.CropAvatar-Stencil-handler {
  display: block;
  background: white;
  border-radius: 50%;
  height: 20px !important;
  width: 20px !important;
}

.CropAvatar-Stencil-line {
  border-color: #ffffff !important;
}

.CropAvatar-background {
  background: #303030 !important;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}
.scroll::-webkit-scrollbar {
  width: 4px;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #00000000;
  border-radius: 0px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: #ffffff1a;
  -webkit-box-shadow: inset 0 0 6px #00000000;
}

.Custom-DropShadow {
  box-shadow: 0 0px 10px #0000004d;
}

.navLinks:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 31%;
  position: absolute;
  background: #fff;
  opacity: 0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 29%;
}

.navLinks:hover:after {
  width: 59%;
  left: 19%;
  opacity: 0.5;
}

.header-button-hover:hover {
  opacity: 100;
}

.header-button-hover:hover .header-icon-hover {
  opacity: 100;
}

.color-transition {
  transition-duration: 200ms;
}

.mobile-carousel-pagination-bullet {
  background: #ffffff !important;
}

@media screen and (min-width: 640px) {
  .ShowAvatar-container {
    height: calc(100vh - 100px);
    max-width: 370px;
    max-height: 560px;
    width: calc(100vw - 100px);
  }

  .SelectAvatar-container {
    height: calc(100vh - 100px);
    /* max-width: 600px;
    max-height: 660px; */
    max-width: 700px;
    max-height: 800px;
    width: calc(100vw - 100px);
  }

  .CropAvatar-container {
    height: calc(100vh - 100px);
    max-width: 700px;
    max-height: 800px;
    width: calc(100vw - 100px);
  }
}
