.main-auth {
  user-select: none;
  color: #fff;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: initial;
  font-variation-settings: 'opsz' 20;
  box-sizing: border-box;
}

.passwordEyeButton {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0);
}

.passwordEyeButton:hover,
.passwordEyeButton:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.button-text-lower {
  text-transform: unset !important;
}

.show-avatar-profile-photo {
  height: min(100vw - 38px,288px);
  width: min(100vw - 38px,288px);
}
