.navIndicator {
  -webkit-transition: all 0.3s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  transition: all 0.3s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.navBar
  input[name='tab-control']:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label
  a {
  opacity: 1;
}
.navBar input[name='tab-control']:nth-of-type(1):checked ~ .navIndicator {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.navBar
  input[name='tab-control']:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label
  a {
  opacity: 1;
}
.navBar input[name='tab-control']:nth-of-type(2):checked ~ .navIndicator {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.navBar
  input[name='tab-control']:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label
  a {
  opacity: 1;
}
.navBar input[name='tab-control']:nth-of-type(3):checked ~ .navIndicator {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

.navBar
  input[name='tab-control']:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label
  a {
  opacity: 1;
}
.navBar input[name='tab-control']:nth-of-type(4):checked ~ .navIndicator {
  -webkit-transform: translateX(300%);
  transform: translateX(300%);
}

.navBar
  input[name='tab-control']:nth-of-type(5):checked
  ~ ul
  > li:nth-child(5)
  > label
  a {
  opacity: 1;
}
.navBar input[name='tab-control']:nth-of-type(5):checked ~ .navIndicator {
  -webkit-transform: translateX(400%);
  transform: translateX(400%);
}

//

.mainNav
  input[name='main-tab-control']:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label
  a {
  opacity: 0.9;
}
.mainNav
  input[name='main-tab-control']:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label
  a {
  opacity: 0.9;
}
.mainNav
  input[name='main-tab-control']:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label
  a {
  opacity: 0.9;
}
